/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.mainBanner {
  background: none;
  padding: 2rem 0 2rem 0;
  margin-top: 20px;
}

.main__container {
  padding: 0;
  margin: 0;

  display: flex;
}

@media (max-width: 996px) {
  .main__container {
    display: block;
  }
}

.main__col {
  padding: 0;
  margin: 0;
}

.main__container ul {
  width: 80%;
  list-style: none;
  padding: 0;
}

.main__container li {
  margin: 0 0 15px 2px;
}

h1.main__title{
  font-size: 3rem;
}

h2.main__title{
  font-size: 2rem;
}

.main__explore {
  padding: 20px 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
