/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

#__docusaurus {
  background-image: var(--ifm-background-image);
  background-position: -460px -647px;
  background-repeat: repeat-y;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-container-width: 1400px;
  --ifm-container-width-xl: 1500px;

  --custom-navbar-shadow-color: 0 0 5px 3px rgba(24, 25, 47, 0.1);
  --ifm-navbar-background-color: rgb(245, 245, 245);
  --ifm-background-gradient: rgba(245, 245, 245, 0.98);
  --ifm-background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%273191%27 height=%272701%27 viewBox=%270 0 3191 2701%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg opacity=%270.2%27 filter=%27url%28%23filter0_f_0_3%29%27%3E%3Cpath d=%27M2830.56 2185.64C2770.52 2384.58 2652.52 2371.39 2453.38 2311.29C2254.24 2251.19 2176.44 2205.29 2236.47 2006.35C2296.51 1807.41 2265.13 1534.78 2464.26 1594.88C2663.4 1654.98 2890.6 1986.7 2830.56 2185.64Z%27 fill=%27url%28%23paint0_radial_0_3%29%27/%3E%3C/g%3E%3Cg opacity=%270.2%27 filter=%27url%28%23filter1_f_0_3%29%27%3E%3Cpath d=%27M2242 995.001C2371.79 995.001 2383 1025.95 2383 1156C2383 1286.06 2371.79 1383 2242 1383C2112.21 1383 2007 1360.54 2007 1230.49C2007 1171.14 2076.34 1165.92 2112.5 1124.5C2155.58 1075.16 2171.44 995.001 2242 995.001Z%27 fill=%27url%28%23paint1_radial_0_3%29%27 fill-opacity=%270.5%27/%3E%3C/g%3E%3Cg opacity=%270.2%27 filter=%27url%28%23filter2_f_0_3%29%27%3E%3Cpath d=%27M2262.3 471.929C2355.32 551.396 2681.05 353.392 2601.5 446.502C2521.95 539.613 2118 829.176 2024.98 749.709C1931.97 670.241 1536.95 681.113 1616.5 588.002C1696.04 494.892 2169.28 392.462 2262.3 471.929Z%27 fill=%27url%28%23paint2_radial_0_3%29%27/%3E%3C/g%3E%3Cg opacity=%270.2%27 filter=%27url%28%23filter3_f_0_3%29%27%3E%3Cpath d=%27M796.047 724.904C751.592 558.996 840.256 516.873 1006.35 472.368C1172.45 427.863 1247.11 426.222 1291.57 592.13C1336.02 758.038 1476.81 935.899 1310.71 980.405C1144.62 1024.91 840.501 890.812 796.047 724.904Z%27 fill=%27url%28%23paint3_radial_0_3%29%27 fill-opacity=%270.8%27/%3E%3C/g%3E%3Cg opacity=%270.2%27 filter=%27url%28%23filter4_f_0_3%29%27%3E%3Cpath d=%27M390.854 1338.85C353.682 1391.08 380.882 1490.48 440.193 1564.7C354.316 1615.3 514.011 1682.09 336.989 1771.87C213.936 1834.28 449.227 1903.96 349.498 1979.6C253.126 2052.69 415.766 2195.74 505.836 2170.9C595.907 2146.05 746.593 2011.78 674.023 1891.17C609.647 1784.19 670.361 1677.15 813.663 1736.29C940.069 1765.81 973.301 1506.99 896.81 1345.02C795.535 1130.57 657.688 1134.06 582.706 1253.16C506.103 1189.33 428.027 1286.62 390.854 1338.85Z%27 fill=%27url%28%23paint4_linear_0_3%29%27/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id=%27filter0_f_0_3%27 x=%271866.69%27 y=%271236.41%27 width=%271323.68%27 height=%271464.01%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeBlend mode=%27normal%27 in=%27SourceGraphic%27 in2=%27BackgroundImageFix%27 result=%27shape%27/%3E%3CfeGaussianBlur stdDeviation=%27175%27 result=%27effect1_foregroundBlur_0_3%27/%3E%3C/filter%3E%3Cfilter id=%27filter1_f_0_3%27 x=%271794%27 y=%27782.001%27 width=%27802%27 height=%27814%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeBlend mode=%27normal%27 in=%27SourceGraphic%27 in2=%27BackgroundImageFix%27 result=%27shape%27/%3E%3CfeGaussianBlur stdDeviation=%27106.5%27 result=%27effect1_foregroundBlur_0_3%27/%3E%3C/filter%3E%3Cfilter id=%27filter2_f_0_3%27 x=%271505.99%27 y=%27321.019%27 width=%271207.91%27 height=%27542.335%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeBlend mode=%27normal%27 in=%27SourceGraphic%27 in2=%27BackgroundImageFix%27 result=%27shape%27/%3E%3CfeGaussianBlur stdDeviation=%2750%27 result=%27effect1_foregroundBlur_0_3%27/%3E%3C/filter%3E%3Cfilter id=%27filter3_f_0_3%27 x=%27571.638%27 y=%27233.731%27 width=%271030.98%27 height=%27968.3%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeBlend mode=%27normal%27 in=%27SourceGraphic%27 in2=%27BackgroundImageFix%27 result=%27shape%27/%3E%3CfeGaussianBlur stdDeviation=%27106.5%27 result=%27effect1_foregroundBlur_0_3%27/%3E%3C/filter%3E%3Cfilter id=%27filter4_f_0_3%27 x=%270.418213%27 y=%27871.783%27 width=%271237.12%27 height=%271601.98%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeBlend mode=%27normal%27 in=%27SourceGraphic%27 in2=%27BackgroundImageFix%27 result=%27shape%27/%3E%3CfeGaussianBlur stdDeviation=%27150%27 result=%27effect1_foregroundBlur_0_3%27/%3E%3C/filter%3E%3CradialGradient id=%27paint0_radial_0_3%27 cx=%270%27 cy=%270%27 r=%271%27 gradientUnits=%27userSpaceOnUse%27 gradientTransform=%27translate%282042.5 1619.58%29 rotate%2833.156%29 scale%281075.56 4798.47%29%27%3E%3Cstop stop-color=%27%23666FF6%27/%3E%3Cstop offset=%271%27 stop-color=%27%235CDA95%27/%3E%3C/radialGradient%3E%3CradialGradient id=%27paint1_radial_0_3%27 cx=%270%27 cy=%270%27 r=%271%27 gradientUnits=%27userSpaceOnUse%27 gradientTransform=%27translate%281940.78 1560.11%29 rotate%28-32.7689%29 scale%28817.781 3650.06%29%27%3E%3Cstop stop-color=%27%23666FF6%27/%3E%3Cstop offset=%271%27 stop-color=%27%235CDA95%27/%3E%3C/radialGradient%3E%3CradialGradient id=%27paint2_radial_0_3%27 cx=%270%27 cy=%270%27 r=%271%27 gradientUnits=%27userSpaceOnUse%27 gradientTransform=%27translate%281770.57 762.686%29 rotate%28-33.1298%29 scale%28633.231 2825.08%29%27%3E%3Cstop stop-color=%27%23666FF6%27/%3E%3Cstop offset=%271%27 stop-color=%27%235CDA95%27/%3E%3C/radialGradient%3E%3CradialGradient id=%27paint3_radial_0_3%27 cx=%270%27 cy=%270%27 r=%271%27 gradientUnits=%27userSpaceOnUse%27 gradientTransform=%27translate%281675.5 747%29 rotate%28-153.933%29 scale%28695.22 3101.82%29%27%3E%3Cstop stop-color=%27%23666FF6%27/%3E%3Cstop offset=%271%27 stop-color=%27%235CDA95%27/%3E%3C/radialGradient%3E%3ClinearGradient id=%27paint4_linear_0_3%27 x1=%27980.719%27 y1=%271455.04%27 x2=%27191.31%27 y2=%272085.11%27 gradientUnits=%27userSpaceOnUse%27%3E%3Cstop stop-color=%27%235CDA95%27/%3E%3Cstop offset=%271%27 stop-color=%27%23666FF7%27/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

  --ifm-font-family-base: 'Poppins', sans-serif;
  --ifm-heading-font-family: 'Poppins', sans-serif;
  --ifm-heading-font-weight: 'Poppins', sans-serif;

  --ifm-color-primary: #11a97d;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --custom-navbar-shadow-color: 0 0 6px 4px rgba(24, 25, 47, 0.5);
  --ifm-navbar-background-color: linear-gradient(197.29deg, rgba(24, 25, 47, 1) 10.56%, rgb(16, 25, 42) 79.16%);
  --ifm-background-gradient: linear-gradient(197.29deg, rgba(27, 29, 118, 0.3) 10.56%, rgba(15, 17, 22, 0.9) 79.16%);
  --ifm-background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%273088%27 height=%272700%27 viewBox=%270 0 3088 2700%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg opacity=%270.51%27 filter=%27url%28%23filter0_f_902_121600%29%27%3E%3Cpath d=%27M2159.3 471.408C2252.32 550.876 2578.05 352.871 2498.5 445.981C2418.95 539.092 2015 828.656 1921.98 749.188C1828.97 669.721 1433.95 680.592 1513.5 587.481C1593.04 494.371 2066.28 391.941 2159.3 471.408Z%27 fill=%27url%28%23paint0_radial_902_121600%29%27/%3E%3C/g%3E%3Cg opacity=%270.51%27 filter=%27url%28%23filter1_f_902_121600%29%27%3E%3Cpath d=%27M693.047 724.383C648.592 558.475 737.256 516.353 903.352 471.847C1069.45 427.342 1144.11 425.701 1188.57 591.609C1233.02 757.517 1373.81 935.379 1207.71 979.884C1041.62 1024.39 737.501 890.291 693.047 724.383Z%27 fill=%27url%28%23paint1_radial_902_121600%29%27 fill-opacity=%270.8%27/%3E%3C/g%3E%3Cg opacity=%270.51%27 filter=%27url%28%23filter2_f_902_121600%29%27%3E%3Cpath d=%27M2139 994.48C2268.79 994.48 2280 1025.42 2280 1155.48C2280 1285.54 2268.79 1382.48 2139 1382.48C2009.21 1382.48 1904 1360.02 1904 1229.97C1904 1170.62 1973.34 1165.4 2009.5 1123.98C2052.58 1074.64 2068.44 994.48 2139 994.48Z%27 fill=%27url%28%23paint2_radial_902_121600%29%27 fill-opacity=%270.5%27/%3E%3C/g%3E%3Cg filter=%27url%28%23filter3_f_902_121600%29%27%3E%3Cpath d=%27M287.854 1338.33C250.682 1390.55 277.882 1489.96 337.193 1564.18C251.316 1614.78 411.011 1681.57 233.989 1771.35C110.936 1833.76 346.227 1903.44 246.498 1979.07C150.126 2052.17 312.766 2195.22 402.836 2170.38C492.907 2145.53 643.593 2011.26 571.023 1890.65C506.647 1783.66 567.361 1676.63 710.663 1735.77C837.069 1765.29 870.301 1506.47 793.81 1344.5C692.535 1130.05 554.688 1133.54 479.706 1252.63C403.103 1188.81 325.027 1286.1 287.854 1338.33Z%27 fill=%27url%28%23paint3_linear_902_121600%29%27/%3E%3C/g%3E%3Cg opacity=%270.51%27 filter=%27url%28%23filter4_f_902_121600%29%27%3E%3Cpath d=%27M2727.56 2185.12C2667.52 2384.06 2549.52 2370.87 2350.38 2310.77C2151.25 2250.67 2073.44 2204.77 2133.47 2005.83C2193.51 1806.89 2162.13 1534.26 2361.26 1594.36C2560.4 1654.46 2787.6 1986.18 2727.56 2185.12Z%27 fill=%27url%28%23paint4_radial_902_121600%29%27/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id=%27filter0_f_902_121600%27 x=%271402.99%27 y=%27320.5%27 width=%271207.91%27 height=%27542.332%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeBlend mode=%27normal%27 in=%27SourceGraphic%27 in2=%27BackgroundImageFix%27 result=%27shape%27/%3E%3CfeGaussianBlur stdDeviation=%2750%27 result=%27effect1_foregroundBlur_902_121600%27/%3E%3C/filter%3E%3Cfilter id=%27filter1_f_902_121600%27 x=%27468.639%27 y=%27233.211%27 width=%271030.98%27 height=%27968.301%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeBlend mode=%27normal%27 in=%27SourceGraphic%27 in2=%27BackgroundImageFix%27 result=%27shape%27/%3E%3CfeGaussianBlur stdDeviation=%27106.5%27 result=%27effect1_foregroundBlur_902_121600%27/%3E%3C/filter%3E%3Cfilter id=%27filter2_f_902_121600%27 x=%271691%27 y=%27781.48%27 width=%27802%27 height=%27814%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeBlend mode=%27normal%27 in=%27SourceGraphic%27 in2=%27BackgroundImageFix%27 result=%27shape%27/%3E%3CfeGaussianBlur stdDeviation=%27106.5%27 result=%27effect1_foregroundBlur_902_121600%27/%3E%3C/filter%3E%3Cfilter id=%27filter3_f_902_121600%27 x=%27-102.582%27 y=%27871.262%27 width=%271537.12%27 height=%271601.98%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeBlend mode=%27normal%27 in=%27SourceGraphic%27 in2=%27BackgroundImageFix%27 result=%27shape%27/%3E%3CfeGaussianBlur stdDeviation=%27150%27 result=%27effect1_foregroundBlur_902_121600%27/%3E%3C/filter%3E%3Cfilter id=%27filter4_f_902_121600%27 x=%271763.69%27 y=%271235.89%27 width=%271323.68%27 height=%271464.01%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeBlend mode=%27normal%27 in=%27SourceGraphic%27 in2=%27BackgroundImageFix%27 result=%27shape%27/%3E%3CfeGaussianBlur stdDeviation=%27175%27 result=%27effect1_foregroundBlur_902_121600%27/%3E%3C/filter%3E%3CradialGradient id=%27paint0_radial_902_121600%27 cx=%270%27 cy=%270%27 r=%271%27 gradientUnits=%27userSpaceOnUse%27 gradientTransform=%27translate%281667.57 762.166%29 rotate%28-33.1298%29 scale%28633.231 2825.08%29%27%3E%3Cstop stop-color=%27%232E01F8%27/%3E%3Cstop offset=%271%27 stop-color=%27%2311AA7D%27/%3E%3C/radialGradient%3E%3CradialGradient id=%27paint1_radial_902_121600%27 cx=%270%27 cy=%270%27 r=%271%27 gradientUnits=%27userSpaceOnUse%27 gradientTransform=%27translate%281572.5 746.479%29 rotate%28-153.933%29 scale%28695.22 3101.82%29%27%3E%3Cstop stop-color=%27%232E01F8%27/%3E%3Cstop offset=%271%27 stop-color=%27%2347EC7F%27/%3E%3C/radialGradient%3E%3CradialGradient id=%27paint2_radial_902_121600%27 cx=%270%27 cy=%270%27 r=%271%27 gradientUnits=%27userSpaceOnUse%27 gradientTransform=%27translate%281837.78 1559.59%29 rotate%28-32.7689%29 scale%28817.781 3650.06%29%27%3E%3Cstop stop-color=%27%232E01F8%27/%3E%3Cstop offset=%271%27 stop-color=%27%2311AA7D%27/%3E%3C/radialGradient%3E%3ClinearGradient id=%27paint3_linear_902_121600%27 x1=%27877.719%27 y1=%271454.52%27 x2=%2788.3104%27 y2=%272084.58%27 gradientUnits=%27userSpaceOnUse%27%3E%3Cstop stop-color=%27%2311A97D%27/%3E%3Cstop offset=%271%27 stop-color=%27%233E74FF%27 stop-opacity=%270%27/%3E%3C/linearGradient%3E%3CradialGradient id=%27paint4_radial_902_121600%27 cx=%270%27 cy=%270%27 r=%271%27 gradientUnits=%27userSpaceOnUse%27 gradientTransform=%27translate%281939.5 1619.05%29 rotate%2833.156%29 scale%281075.56 4798.47%29%27%3E%3Cstop stop-color=%27%232E01F8%27/%3E%3Cstop offset=%271%27 stop-color=%27%2311AA7D%27/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");

  --ifm-color-primary: #16dda5;
  --ifm-color-primary-dark: #14bb8c;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar {
  background: var(--ifm-navbar-background-color);
  box-shadow: var(--custom-navbar-shadow-color);
}

.navbar .navbar__inner {
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 0.25rem 2rem;
}

@media (max-width: 996px) {
  .navbar .navbar__inner {
    padding: 0.25rem 0rem;
  }
}

@media (min-width: 1440px) {
  .navbar .navbar__inner {
      max-width: var(--ifm-container-width-xl);
  }
}

.main-wrapper {
  width: 100%;
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 0.25rem 1rem;
}

@media (max-width: 996px) {
  .main-wrapper {
    padding: 0.25rem 0rem;
  }
}

@media (min-width: 1440px) {
  .main-wrapper {
      max-width: var(--ifm-container-width-xl);
  }
}

.menu__list {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.menu__list:nth-child(1) > li > ul {
  padding-left: 0;
}

.menu__list:nth-child(1) > li {
  margin-bottom: 1rem;
}

.menu__list:nth-child(1) > li > div.menu__list-item-collapsible {
  text-transform: uppercase;
}

.menu__list:nth-child(1) > li > div.menu__list-item-collapsible:hover {
  background: none;
}

.theme-doc-markdown.markdown h1 {
  margin-top: 2rem;
}

article {
  padding: 0 1.5rem;
}

@media (max-width: 996px) {
  article {
    padding: 0;
  }
}
